body {
    
    color: rgba(233, 234, 235, 0.8);
    justify-content: center;
    margin: auto;
    background-color: #181818;
    


}
.text-mid {
    text-align: center;
    padding: 16px;
    color: rgba(233, 234, 235, 0.8);
    font-size: small;
    /* background-color: aqua; */
}
.bg-1{
    background-color: #141414;
}
.big-section-1{
    background-color: #141414;
    padding-bottom: 80px;
    display:flex;
    margin:auto;
    /* grid-template-columns: 1fr 3fr; */
    

    
    
    
}
input {
    background-color: #141414;
    color: #e9eaeb;
}
a {
    text-decoration: none;
   
}
a:link {
    color: #e9eaeb;

  }
  
  /* visited link */
  a:visited {
    color: #e9eaeb;
  }
#nav-bar-vscode{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    font-weight: 600;
    font-size: larger;
    display: flex;
    /* background-color: aqua; */
}
#navbar-left {
    display: flex;
}
#nav-bar-logo{
    height: 24px;
    padding-right: 16px;
    /* padding-top: 3px; */
}
  
.all {
    width: 1200px;
    margin:auto;

}
.navbar {
    display: flex;
    /* width: 1200px; */
    /* background-color: #0b3873; */
    justify-content:space-between;
    margin: 0 auto;
    padding-top: 16px;
    background-color: #141414;
    vertical-align: text-bottom;
    
    
}
#nav-items{
    padding-top: 6px;
}
#navbar-one {
    display: flex;
    justify-content: space-between;
    width: 50%;
    
}
input {
    border-radius: 3px;
    padding: 4px;
}

#top-right-download {
    background-color: #0078d4;
    padding: 6px 16px;
    border-radius: 4px;
}

.highlights {
    background-color: #181818;
    
    padding : 12px 12px 12px 12px;
    display: inline-block;
    width: fit-content;
    border-radius: 24px;
    margin: 20px 0;
    text-align: center;
    font-size: small;
}
.all.section-2 {
    margin: 100px auto 0 auto;
    display: grid;
    width: 1200px;
    grid-template-columns:1fr 2fr;
    
    
    background-color: #141414;

    /* background-color: bisque; */
}
.left-text {
    /* max-width: 30%; */
    display: flex;
    flex-flow: column nowrap;
    align-content: center;
    margin:auto 0;
    
}
#main-img {
    /* max-width: 66%; */
    margin-left: 0px;
    margin-right: 0;
    padding-right: 0;
}
#img {
    width: 100%;
}
.big-text{
    font-size: 50;
    font-weight: 600;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}
#big-download {
    background-color: #0078d4;
    max-width: 60%;
    align-items: center;
    text-align: center;
    padding: 12px;
    border-radius: 4px;
    font-weight: 600;
    margin:20px 0 20px 0;
    font-size: larger;


}
#small-links {
    font-weight: 400;
    color: #0078d4;
    text-decoration: underline;
}
.small-links {
    margin-top: 16px;
    margin-bottom: 16px;
}
#tnc {
    font-size: small;
}

.big-section-2 {
    /* display:grid; */
    /* grid-template-columns: 1fr 2fr; */
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    background-color: #0e0e0e;
    color:white;
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin:0 auto 0px auto;
    width: 1200px;
    padding-top:120px;
    grid-row-gap: 160px;
    
}
.big-section-2 .text{
    /* background-color: #0078d4; */
    padding-top: 0;
    margin-top: 0;
    padding-right: 48px;
    align-content: start;
}
h2 {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    margin-top: 0;
    font-size: 30px;
    font-weight: 500;
    color:white;
    /* background-color: #0078d4; */
    
}
.bg-2{
    background-color: #0e0e0e;
    
}
p {
    color: rgba(233, 234, 235, 0.8);
    padding:0 0 16px 0;
}

.languages-grid{
    /* background-color: #0078d4; */
    display: grid;
    grid-template-columns: 1fr 4fr 1fr 4fr 1fr 4fr ;
    align-content: center;
    align-items: center;
    
}
.languages-grid .grid-item{
    /* text-align: center; */
    padding-top: 12px;
    padding-bottom: 8px;
    color: rgba(233, 234, 235, 0.8);
}
.languages-grid  img{
    width: 40px;
    padding-top:4px ;
}
.extension-grid{
    /* background-color: #0078d4; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-content: center;
    align-items: center;
    grid-gap: 16px;
    
}
.extension-grid .grid-item{
    display: grid;
    grid-template-columns: 1fr 5fr;
    background-color: #181818;
    grid-gap: 16px;
    padding: 16px 12px 4px 12px;
    border-radius: 16px;
    height:80%;   
    margin-bottom: 20px; 
    /* width: 200px; */

}
.extension-grid img{
    width: 40px;
}
.extension-grid .grid-item .small-text{
    color: rgba(233, 234, 235, 0.8);
    font-size: small;
    padding-top: 8px;
}
img{
    max-width: 100%;
}
.last-section .text{
    margin: 120px auto 00px auto;
    padding-bottom: 100px;
    width: 600px;
    text-align: center;
    font-size: 20px;
}